{% extends "base.html" %}
{% block title %}Student details PyBursa{% endblock title %}

{% block content %}  

  
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <h2>{{ student.name }} {{ student.surname}}</h2></div>
        </div>
        <hr>
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="table table-striped table-hover">
                            <thead class="headtable">
                                <tr>
                                    <th colspan="2">Student Card</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="active">Дата рождения</td>
                                    <td>{{ student.date_of_birth }}</td>
                                </tr>
                                <tr>
                                    <td class="active">Адрес</td>
                                    <td>{{ student.address }}</td>
                                </tr>
                                <tr>
                                    <td class="active">E-mail </td>
                                    <td>{{ student.email }}</td>
                                </tr>
                                <tr>
                                    <td class="active">Skype </td>
                                    <td>{{ student.skype }}</td>
                                </tr>
                                <tr>
                                    <td>Phone</td>
                                    <td>{{ student.phone }}</td>
                                </tr>
                                <tr>
                                    <td>Courses</td>
                                    <td> {% for course in student.courses.all %}
                                          <a href={% url 'courses:detail' course.id %}>{{ course.name }}<br></a>
                                    {% endfor %}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>



{% endblock content %}
