{% extends "base.html" %}
{% block title %}Main PyBursa{% endblock title %}
{% block nav_class_students %}active{% endblock %}
{% block content %}
    <h2 id = "header_table">Список студентов</h2>
        <div class="table-responsive">
            <table class="table table-striped">
                <tr>
                    <th>#</th>
                    <th>фамилия имя</th>
                    <th>адрес</th>
                    <th>skype</th>
                    <th>курсы</th>
                </tr>
                {% for i in students %}
                <tr>
                    <td>{{ i.id }}</td>
                    <td><a href="{% url 'students:detail' i.id %}">{{i.surname}} {{ i.name }}</a></td>
                    <td>{{ i.address }}</td>
                    <td>{{ i.skype }}</td>
                    <td> {% for course in i.courses.all %}
                        <a href="{% url 'courses:detail' course.id %}">{{ course.name }}<br></a>
                        {% endfor %}
                    </td>
                </tr> 
                {% endfor %}
            </table>   
        </div>
{% endblock content %}         

