{% extends "base.html" %}


{% block title %}Remove Student PyBursa{% endblock title %}


{% block nav_class_students %}active{% endblock %}


{% load staticfiles %}


{% block content %}
<p><h3 class="text-center">Студент  {{ student.name }} {{ student.surname }}  будет удален</h3></p>
    <div class="container">
        <form method="post">
          {% csrf_token %}
          {{ form.as_p }} 
            <br />
            <br />
          <input type="submit" value="Удалить"/>
     		<br />
	    	<br />
        </form>
    </div>
    <hr>
{% endblock content %}