body{
padding: 20px;
background-color: #F5F5F5;}


.director ul li{
list-style-type: none;
}

.manager li{
list-style-type: circle;
}
.founder li{
list-style-type:square;
}


ul li{
list-style-type: none;
}


footer{
    text-align: center;
}

.manager{
 background-color:#F0F8FF;
}

.director{
background-color:#E6E6FA;}

.founder{
background-color:#66CDAA;}

.img-circle{
background-color:#5F9EA0;
padding: 10px;}

.panel{
margin: 5px;}

.panel .panel-primary .panel-heading img{
width:120px;
height:120px;}

.muted{
color: #0000CD;}


.list-group-item{
color: #48D1CC;}

.text-info{
background-color:#F8F8FF;
}
ol .list-group-item{
background-color:#F5F5F5;}
ol{
background-color:#DCDCDC;}
.panel-info .panel-body{
background-color: #696969;}

