.page-header
{
    text-align: center;
}
.row-header
{
    text-align: center;
}
.btn
{
    text-align: center;
}
.media-object
{
    border: 10px;
    border-color: black;
    width: 160px;
    height: 160px;
}
.media-heading
{
    text-align: center;

}
.media-text
{
    text-align: justify

}
.size-img
{
    width: 200px;
    text-align: center;
}
.jambotron
{
    text-align: center;
}
.title
{
    text-align: center;
}
.caption
{
    font-size: small;
}
.btn-center
{
    text-align: center;
}
.img-center
{
    text-align: center;
}
.thumbnail-text
{
    text-align: left;
}
.program-text
{
    text-align: left;
}
.pybursa-logo
{
    text-align: center;
}
