
{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Contacts PyBursa{% endblock title %}
{% block nav_class_contact %}active{% endblock %}
{% block content %}   

<div class="container">
<div class="text-center">
	<h1 class="head1">Contacts</h1>
</div>
<div>
	<div class="head_padding">
		<h3 class="text_direct head32">Director</h3>
			  
 		 <dl class="dl-horizontal">
    		<dt class="text_name">Name</dt>
    			<dd> <span class="glyphicon glyphicon-user"></span> Ivan Ivanov</dd>
    		<dt class="text_skype">Skype</dt>
    			<dd><span class="glyphicon glyphicon-headphones"></span> ivan2016</dd>
    		<dt class="text_email">Email</dt>
    			<dd><span class="glyphicon glyphicon-envelope"></span> ivan2016@gmail.com </dd>
    		<dt class="text_phone">Phone</dt>
    			<dd> <span class="glyphicon glyphicon-phone"></span> +380671111111</dd>	
    	 </dl>       
	</div>
	<div class="head_padding">
		<h3 class="text_manager head32">Manager</h3>
		  <dl class="dl-horizontal">
    		 <dt class="text_name">Name</dt>
    			<dd><span class="glyphicon glyphicon-user"></span> Petr Petrov </dd>
    		 <dt class="text_skype">Skype</dt>
    			<dd><span class="glyphicon glyphicon-headphones"></span> petr2016</dd>
    		 <dt class="text_email">Email</dt>
    			<dd><span class="glyphicon glyphicon-envelope"></span> petr2016@gmail.com</dd>
    		 <dt class="text_phone">Phone</dt>
    			<dd><span class="glyphicon glyphicon-phone"></span> +380672222222</dd>	
    	  </dl>       
	</div>
	<div class="head_padding">
		<h3 class="text_founder head32">Founder</h3>
		 <dl class="dl-horizontal">
    		<dt class="text_name">Name</dt>
    			<dd>  <span class="glyphicon glyphicon-user"></span> Alex Alexseev</dd>
    		<dt class="text_skype">Skype</dt>
    			<dd><span class="glyphicon glyphicon-headphones"></span> alex2016</dd>
    		<dt class="text_email">Email</dt>
    			<dd><span class="glyphicon glyphicon-envelope"></span> alex2016@gmail.com</dd>
    		<dt class="text_phone">Phone</dt>
    			<dd><span class="glyphicon glyphicon-phone"></span> +380677777777</dd>	
    	 </dl>       
	</div>
</div>

{% endblock content %}  