<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="python framework jango обучение">
    <meta name="author" content="">

    <title>Контактная информация</title>
    <link href="../static/css/style.css" rel="stylesheet">


    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
   </head>

  <body>
    <div class="container">

    <div class="container">
      <ul class="nav nav-tabs">
  	<li role="presentation" ><a href="index.html">ItBursa</a></li>
  	<li role="presentation" ><a href="index.html">Main</a></li>
  	<li role="presentation" class="active"><a href="#">Contacts</a></li>
      </ul>
    </div>

        <h2 class='title'>Контактная информация</h2>
 
      <div class="container">
	<h3>Director</h3>

        <table class='table' style="width:300px">
          <tbody >
	  <tr>  <td>Name:  </td> 
	    <td>Aleksey Radchenko</td> 
          </tr> 	
	  <tr>  <td>Skype:</td> 
	    <td>Aleksey Radchenko</td> 
          </tr> 	
	  <tr> <td>Email:</td> 
	    <td>dixit.ch@gmail.com</td> 
          </tr> 	
	  <tr> <td>phone:</td> 
	    <td>067 837 77 63</td> 
          </tr>
 	
         </tbody>  
        </table>
      </div>
<br>
      <div class="container">
	<h3>Manager</h3>
        <table class='table' style="width:300px">
          <tbody >
	  <tr>  <td>Name:  </td> 
	    <td>Elena Lagunkova</td> 
          </tr> 	
	  <tr>  <td>Skype:</td> 
	    <td>Elena Lagunkova</td> 
          </tr> 	
	  <tr> <td>Email:</td> 
	    <td>ElenaLagunkova@gmail.com</td> 
          </tr> 	
	  <tr> <td>phone:</td> 
	    <td>068 837 77 63</td> 
          </tr>
 	
         </tbody>  
        </table>
      </div>
   <br>
      <div class="container">
	<h3>Founder</h3>
        <table class='table' style="width:300px">
          <tbody >
	  <tr>  <td>Name:  </td> 
	    <td>Elena Persianova</td> 
          </tr> 	
	  <tr>  <td>Skype:</td> 
	    <td>Elena Persianova</td> 
          </tr> 	
	  <tr> <td>Email:</td> 
	    <td>ElenaPersianova@gmail.com</td> 
          </tr> 	
	  <tr> <td>phone:</td> 
	    <td>099 837 77 63</td> 
          </tr>
 	
         </tbody>  
        </table>
      </div>



   </div>
</body>
</html>
