<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta content="" name="description">
    <meta content="" name="author">
    <link href="../static/images/favicon.ico" rel="icon">
    <link href='../static/fonts/lucida_console.ttf' rel='stylesheet' type=
    'text/css'>
    <link href='../static/fonts/monaco.ttf' rel='stylesheet' type='text/css'>
    <link href='../static/fonts/lekton_regular.ttf' rel='stylesheet' type=
    'text/css'>
    <title>Contact list</title>
    <link href="../static/css/bootstrap.css" rel="stylesheet">
    <link href="../static/css/style.css" rel="stylesheet">
    <link href="../static/css/starter-template.css" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button aria-controls="navbar" aria-expanded="false" class=
                "navbar-toggle collapsed" data-target="#navbar" data-toggle=
                "collapse" type="button"><span class="sr-only">Toggle
                navigation</span> <span class="icon-bar"></span> <span class=
                "icon-bar"></span> <span class="icon-bar"></span></button>
                <a class="navbar-brand" href="index.html">Main</a> <a class=
                "navbar-brand" href="contact.html">Contacts</a> <a class=
                "navbar-brand" href="student_list.html">Students</a>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="starter-template">
            <h1><strong>Contacts:</strong></h1>
            <div class="director clearfix">
                <div class="title">
                    <ul>
                        <li class="list-group-item list-group-item-info">
                            <h2 class="persn">Founder</h2>
                        </li>
                        <li class="list-group-item list-group-item-warning">
                            <h6><b>Name:</b> Andy Ehrman</h6>
                            <h6><b>Skype:</b> andy_ehrman</h6>
                            <h6><b>Email:</b> andy_ehrman@gmail.com</h6>
                            <h6><b>Phone:</b> +7 8 10 445230051</h6>
                        </li>
                    </ul>
                </div>
                <div class="photo"><img alt="" src=
                "../static/images/andy_ehrman.jpg"></div>
                <div class="info">
                    <blockquote class="blockquote-reverse">
                        <p>"Hindi ako perfect and kahit kailan, hindi ko
                        hihilingin na maging perfect ka. Ang hihilingin ko,
                        subukan mong baguhin ang sarili mo para maramdaman mo
                        na karapat-dapat ka. But you never tried."</p>
                        <footer>
                            Bea Alonzo in <cite title="Source Title">She’s the
                            One (2013)</cite>
                        </footer>
                    </blockquote>
                </div>
            </div>
            <div class="director clearfix">
                <div class="title">
                    <ul>
                        <li class="list-group-item list-group-item-success">
                            <h2 class="persn">Director</h2>
                        </li>
                        <li class="list-group-item list-group-item-warning">
                            <h6><b>Name:</b> Lizzy Rady</h6>
                            <h6><b>Skype:</b> lizzy_rady</h6>
                            <h6><b>Email:</b> lizzy_rady@gmail.com</h6>
                            <h6><b>Phone:</b> +7 8 10 445230052</h6>
                        </li>
                    </ul>
                </div>
                <div class="photo"><img alt="" src=
                "../static/images/lizzy_rady.jpg"></div>
                <div class="info">
                    <blockquote class="blockquote-reverse">
                        <p>"She loved me at my worst. You had me at my best,
                        but binalewala mo lang ang lahat… And you chose to
                        break my heart."</p>
                        <footer>
                            John Lloyd Cruz in <cite title="Source Title">One
                            More Chance (2007)</cite>
                        </footer>
                    </blockquote>
                </div>
            </div>
            <div class="director clearfix">
                <div class="title">
                    <ul>
                        <li class="list-group-item list-group-item-success">
                            <h2 class="persn">Manager</h2>
                        </li>
                        <li class="list-group-item list-group-item-warning">
                            <h6 class="text-muted"><b>Name:</b> Katherine
                            Rooks</h6>
                            <h6><b>Skype:</b> katherine_rooks</h6>
                            <h6><b>Email:</b> katherine_rooks@gmail.com</h6>
                            <h6><b>Phone:</b> +7 8 10 445230053</h6>
                        </li>
                    </ul>
                </div>
                <div class="photo"><img alt="" src=
                "../static/images/katherine_rooks.jpg"></div>
                <div class="info">
                    <blockquote class="blockquote-reverse">
                        <p>"May mga maswerteng tao na nahanap na yung taong
                        para sa kanila. May mga taong patuloy na naghahanap at
                        may iba na sumuko na. Pero yung pinakamasaklap eh yung
                        na sayo na pinakawalan mo pa."</p>
                        <footer>
                            John Lloyd Cruz in <cite title="Source Title">My
                            Amnesia Girl (2010)</cite>
                        </footer>
                    </blockquote>
                </div>
            </div>
            <div class="well well-lg">
                Regards!
            </div>
            <script src=
            "https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
            </script> 
            <script src="../static/js/bootstrap.js">
            </script>
        </div>
    </div>
</body>
</html>