<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Курсы программирования на Python</title>

    <!-- Bootstrap -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/style.css" rel="stylesheet">
    

    
  </head>
  <body>
    <div class="common">
    
    <nav class="navbar navbar-default">
      <ul class="nav navbar-nav">   
        <li class="active"><a href="index.html">Main <span class="sr-only">(current)</span></a></li>
        <li><a href="contact.html">Contacts</a></li>
      </ul>
    </nav>
    
  <div class="container">     
    <div class="jumbotron">
      <div class="parent">
        <h1>Курсы PyBursa</h1>
        <h2>Description</h2>
      </div>
      <img class="blog" src="../static/images/python.jpg">
      <p>Разнообразный и богатый опыт сложившаяся структура организации позволяет выполнять важные задания
       по разработке дальнейших направлений развития. Таким образом реализация намеченных плановых заданий 
       представляет собой интересный эксперимент проверки модели развития. Значимость этих проблем настолько 
       очевидна, что новая модель организационной деятельности играет важную роль в формировании системы обучения
       кадров, соответствует насущным потребностям. Разнообразный и богатый опыт постоянное информационно-пропагандистское
       обеспечение нашей деятельности представляет собой интересный эксперимент проверки модели развития.</p>
    </div>
  
    
  <div class="jumbotron">
    <h2 data-toggle="tooltip" data-placement="bottom" title="Техники максимального дзена">Program</h2>
    <p>В нашем курсе вы можете овладеть следующими техниками и узнать такие полезные вещи, как:</p>
    <ul>
      <li>Разведение кактусов в условиях крайнего севера.</li>
      <li>Техники глажения шнурков различных расцветок.</li>
      <li>Мужчина или огурец? Что полезнее на кухне?</li>
      <li>Народные методики увеличения груди с помощью капусты: компрессы, отвары, спиртовые настойки.</li>
      <li>Пивная диета - правда или враки?</li>
      <li>и многое другое...</li>
    </ul>
  </div>
  
  <div class="jumbotron">
    <h2>Темы занятий и количество часов</h2>
    <ul class="list-group">
      <li class="list-group-item">
        <span class="badge">14</span>
         Как бежать вперед.
      </li>
      <li class="list-group-item">
        <span class="badge">20</span>
         Как бежать назад.
      </li>
      <li class="list-group-item">
        <span class="badge">22</span>
         Как бежать боком.
      </li>
      <li class="list-group-item">
        <span class="badge">1</span>
         Как вообще не бегать.
      </li>
    </ul>
  </div>
  
  </div>
  
  <nav>
    <ul class="pager">
      <li class="next"><a href="contact.html">Next <span aria-hidden="true">&rarr;</span></a></li>
    </ul>
  </nav>
   
  </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../static/js/bootstrap.min.js"></script>
  </body>
</html>