<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta content="" name="description">
    <meta content="Orest Stetsiak" name="author">
    <link href="../static/images/favicon.png" rel="icon">
    <title>PyBursa main page</title><!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.css" rel="stylesheet">
    <link href="../static/css/style.css" rel="stylesheet">
    <link href="../static/css/jumbotron.css" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button aria-controls="navbar" aria-expanded="false" class=
                "navbar-toggle collapsed" data-target="#navbar" data-toggle=
                "collapse" type="button"><span class="sr-only">Toggle
                navigation</span> <span class="icon-bar"></span> <span class=
                "icon-bar"></span> <span class="icon-bar"></span></button>
                <a class="navbar-brand" href="index.html">Main</a>
                <a class="navbar-brand" href="contact.html">Contacts</a>
                <a class="navbar-brand" href="student_list.html">Students</a>
            </div>
            <div class="navbar-collapse collapse" id="navbar">
                <form class="navbar-form navbar-right">
                    <div class="form-group">
                        <input class="form-control" placeholder="Email" type=
                        "text">
                    </div>
                    <div class="form-group">
                        <input class="form-control" placeholder="Password"
                        type="password">
                    </div><button class="btn btn-success" type="submit">Sign
                    in</button>
                </form>
            </div>
        </div>
    </nav>
    <div class="jumbotron">
        <div class="container">
            <h2>PyBursa</h2>
            <h2>Description</h2>
            <p>Pybursa is a great place where you can learn basic Python and
            Django framework. Also you will be up to date with big number of
            useful tools/technologies such a pep8, CLI, git, csv, json, JS,
            jQuery, Ajax, HTTP, Firebug, Web Developer, MVC, QuerySet, Raw-sql
            unit-tests, selenium, nginx etc. You will defenetly enjoy it!</p>
            <p><a class="btn btn-primary btn-lg" href="http://pybursa.com/"
            role="button">official site &gt;</a></p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-9">
            <div class="container" role="main">
                <h2 class="sub-header">Top 4 languages by GitHub users:</h2>
                <h4 class="sub-header">JavaScript</h4>
                <div class="progress">
                    <div aria-valuemax="100" aria-valuemin="0" aria-valuenow=
                    "40" class="progress-bar progress-bar-success" role=
                    "progressbar" style="width: 81%">
                        <span class="sr-only">40% Complete (success)</span>
                    </div>
                </div>
                <h4 class="sub-header">Ruby</h4>
                <div class="progress">
                    <div aria-valuemax="100" aria-valuemin="0" aria-valuenow=
                    "20" class="progress-bar progress-bar-info" role=
                    "progressbar" style="width: 63%">
                        <span class="sr-only">20% Complete</span>
                    </div>
                </div>
                <h4 class="sub-header">Python</h4>
                <div class="progress">
                    <div aria-valuemax="100" aria-valuemin="0" aria-valuenow=
                    "60" class="progress-bar progress-bar-warning" role=
                    "progressbar" style="width: 59%">
                        <span class="sr-only">60% Complete (warning)</span>
                    </div>
                </div>
                <h4 class="sub-header">Java</h4>
                <div class="progress">
                    <div aria-valuemax="100" aria-valuemin="0" aria-valuenow=
                    "80" class="progress-bar progress-bar-danger" role=
                    "progressbar" style="width: 43%">
                        <span class="sr-only">80% Complete (danger)</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="media">
            <iframe allowfullscreen="true" frameborder="0" height="350" src=
            "http://coub.com/embed/acw5gmi?muted=false&autostart=true&originalSize=false&hideTopBar=true&startWithHD=true"
            width="320"></iframe>
        </div>
    </div>
    <div class="container" role="main">
        <h2>Program</h2>
        <div class="table-responsive">
            <table class="table table-striped" width="10">
                <tbody>
                    <tr>
                        <th>ЗАНЯТИЕ</th>
                        <th>ТЕМА</th>
                        <th>СОДЕРЖАНИЕ</th>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Основы Python</td>
                        <td>
                            <ul>
                                <li>zen, pep8, pylint, tools, IDE</li>
                                <li>консоль, типы данных, операторы</li>
                                <li>синтаксис управляющих конструкций (if,
                                for...)</li>
                                <li>исключения и разбор стектрейса</li>
                                <li>кодировка в Python</li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Строки и итераторы</td>
                        <td>
                            <ul>
                                <li>работа со строками и итерируемыми
                                типами</li>
                                <li>запуск скрипта и параметры</li>
                                <li>git http://try.github.com/levels/</li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Функции и модульность</td>
                        <td>
                            <ul>
                                <li>функции (def, lambda)</li>
                                <li>генераторы списков</li>
                                <li>модули, структура</li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>Библиотеки и пакетный менеджер</td>
                        <td>
                            <ul>
                                <li>встроенные библиотеки
                                http://docs.python.org/</li>
                                <li>сторонние библиотеки (менеджер пакетов)
                                PYPI</li>
                                <li>PYTHONPATH и виртуальное окружение</li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>Классы и ООП, основы</td>
                        <td>
                            <ul>
                                <li>синтаксис, атрибуты, методы,
                                инстанцирование</li>
                                <li>все объект, служебные методы</li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>6</td>
                        <td>Классы и ООП, возможности Python</td>
                        <td>
                            <ul>
                                <li>инкапсуляция, наследование,
                                полиморфизм</li>
                                <li>переопределение методов</li>
                                <li>super</li>
                                <li>абстрактные классы</li>
                                <li>статические методы</li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>7</td>
                        <td>Работа с файлами</td>
                        <td>
                            <ul>
                                <li>запись и чтение файлов</li>
                                <li>методы объектов-файлов</li>
                                <li>csv, json</li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>8</td>
                        <td>Работа с датами</td>
                        <td>
                            <ul>
                                <li>модуль datetime</li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>9</td>
                        <td>Основы html/css</td>
                        <td>
                            <ul>
                                <li>html - теги и свойства</li>
                                <li>css - свойства и селекторы</li>
                                <li>каскадное переопределение свойств</li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>10</td>
                        <td>Основы JavaScript</td>
                        <td>
                            <ul>
                                <li>Зачем разработчику backend нужно знать
                                js?</li>
                                <li>DOM</li>
                                <li>JS, jQuery, Ajax</li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>11</td>
                        <td>Основы Web, HTTP</td>
                        <td>
                            <ul>
                                <li>Django. “Hello world!”</li>
                                <li>HTTP (GET, POST), (200, 404, 500), headers,
                                cookies</li>
                                <li>Инструменты отладки браузера (Firebug, Web
                                Developer)</li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>12</td>
                        <td>Django first steps</td>
                        <td>
                            <ul>
                                <li>почему django?</li>
                                <li>введение и описание фреймворка</li>
                                <li>старт проекта</li>
                                <li>команды manage.py</li>
                                <li>django.contrib</li>
                                <li>авторизация, django.contrib.auth</li>
                                <li>админка</li>
                                <li>статика</li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>13</td>
                        <td>Структура Web приложения</td>
                        <td>
                            <ul>
                                <li>MVC</li>
                                <li>Views</li>
                                <li>роутинг урлов, передача параметров</li>
                                <li>объект реквест</li>
                                <li>объект респонс</li>
                                <li>обработка реквеста, формирование
                                респонса</li>
                                <li>обработка и изменение хедеров</li>
                                <li>мидлвар</li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>14</td>
                        <td>Работа с базами данных, ORM</td>
                        <td>
                            <ul>
                                <li>модели и поля, типы полей и атрибуты</li>
                                <li>связи между таблицами и проектирование
                                БД</li>
                                <li>миграции</li>
                                <li>фикстуры</li>
                                <li>QuerySet</li>
                                <li>Raw-sql</li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>15</td>
                        <td>Кастомизация админки</td>
                        <td>
                            <ul>
                                <li>Класс админки</li>
                                <li>настройка отображения виджетов</li>
                                <li>кастомизация ItemView, ListView,
                                редактирование в ListView</li>
                                <li>Сортировка, фильтры, поиск admin actions,
                                редактирование полей в ListView</li>
                                <li>admin actions, редактирование полей в
                                ListView</li>
                                <li>Admin dashboard</li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>16</td>
                        <td>Язык шаблонов</td>
                        <td>
                            <ul>
                                <li>Синтаксис, логические конструкции</li>
                                <li>наследование и includes</li>
                                <li>Понятие контекста, контекст процессор</li>
                                <li>теги и фильтры</li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>17</td>
                        <td>Forms</td>
                        <td>
                            <ul>
                                <li>Формы</li>
                                <li>Типы полей</li>
                                <li>Виджеты</li>
                                <li>Атрибуты</li>
                                <li>Валидация</li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>18</td>
                        <td>Class-based (Generic) Views</td>
                        <td>
                            <ul>
                                <li>Встроенные class-based views (TemplateView,
                                ListView, ItemView)</li>
                                <li>Использование форм с class-based views</li>
                                <li>Миксины</li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>19</td>
                        <td>Реализация стандартных задач</td>
                        <td>
                            <ul>
                                <li>Отправка емейл</li>
                                <li>Кеширование</li>
                                <li>Интернационализация</li>
                                <li>Signup/Login</li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>20</td>
                        <td>Средства отладки и тестирование</td>
                        <td>
                            <ul>
                                <li>logging</li>
                                <li>pdb</li>
                                <li>debug toolbar</li>
                                <li>extensions</li>
                                <li>unit-tests</li>
                                <li>selenium</li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>21</td>
                        <td>Деплоймент</td>
                        <td>
                            <ul>
                                <li>nginx</li>
                                <li>Управление статикой</li>
                                <li>Деплоймент</li>
                            </ul>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="container">
        <footer>
            <p>designed by Orest Stetsiak</p>
        </footer>
    </div>
    <script src=
    "https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
    </script> 
    <script src="../static/js/bootstrap.js">
    </script>
</body>
</html>