<!DOCTYPE html>

<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Main</title>
    <link href="../static/css/style.css" rel="stylesheet">
    <!-- Bootstrap -->
    <link href="../static/css/bootstrap.css" rel="stylesheet">

  </head>

  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="active"><a href="index.html">Main</a></li>
            <li><a href="contact.html">Contacts<span class="sr-only">(current)</span></a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    <div class="container">

      <div class="page-header">
        <h1>Профессиональные курсы <b>"PyBursa"</b></h1>
      </div>
      <div class="jumbotron">
        <h2 class="media-heading"><b>Description</b></h2>
        <h4 class="media-text">
          Если ты стремишься получить профессию, которая позволит путешествовать, воплощать невероятные
          идеи в жизнь, получать достойную заработную плату и работать в комфортном офисе - добро
          пожаловать в PyBursa.
        </h4>
        <div class="btn-center">
          <p><a class="btn btn-primary btn-lg" href="http://www.itbursa.com/pybursa.com" target="_blank" role="button">Learn more</a></p>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="jumbotron">
        <h2 class="media-heading"><b>Program</b></h2>
          <div class="program-text">
            <p>1 - Основы Python</p>
            <p>2 - Работа с Git</p>
            <p>3 - Django</p>
            <p>4 - Тестирование</p>
          </div>

        <div class="btn-center">
          <p><a class="btn btn-primary btn-lg" href="http://www.itbursa.com/pybursa.com" target="_blank" role="button">Learn more</a></p>
        </div>
      </div>
    </div>

    <div class="pybursa-logo">
      <h6>@ 2016 PyBursa</h6>
    </div>

    <script src="../static/js/bootstrap.js"></script>
  </body>
</html>