<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta content="" name="description">
    <meta content="Orest Stetsiak" name="author">
    <link href="../static/images/favicon.png" rel="icon">
    <title>Student details</title>
    <link href="../static/css/bootstrap.css" rel="stylesheet">
    <link href="../static/css/style.css" rel="stylesheet">
    <link href="../static/css/jumbotron.css" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button aria-controls="navbar" aria-expanded="false" class=
                "navbar-toggle collapsed" data-target="#navbar" data-toggle=
                "collapse" type="button"><span class="sr-only">Toggle
                navigation</span> <span class="icon-bar"></span> <span class=
                "icon-bar"></span> <span class="icon-bar"></span></button>
                <a class="navbar-brand" href="index.html">Main</a> <a class=
                "navbar-brand" href="contact.html">Contacts</a> <a class=
                "navbar-brand" href="student_list.html">Students</a>
            </div>
        </div>
    </nav>
    <div class="jumbotron">
        <div class="container">
            <h2>Narendra Modi</h2>
        </div>
        <div class="container" role="main">
            <div class="row">
                <div class="col-md-6">
                    <div class="container" role="main">
                        <div class="table-responsive">
                            <table class="table table-striped" width="10">
                                <tbody>
                                    <tr>
                                        <td>Surname</td>
                                        <td>Narendra</td>
                                    </tr>
                                    <tr>
                                        <td>Name</td>
                                        <td>Modi</td>
                                    </tr>
                                    <tr>
                                        <td>Patronymic</td>
                                        <td>Damodardas</td>
                                    </tr>
                                    <tr>
                                        <td>Rating</td>
                                        <td>21</td>
                                    </tr>
                                    <tr>
                                        <td>Average Grade</td>
                                        <td>100</td>
                                    </tr>
                                    <tr>
                                        <td>Birth Date</td>
                                        <td>17/09/1950</td>
                                    </tr>
                                    <tr>
                                        <td>Address</td>
                                        <td>2820 Church Street Atwater, CA
                                        95301</td>
                                    </tr>
                                    <tr>
                                        <td>E-mail</td>
                                        <td>
                                            <a href=
                                            "mailto:narendra_modi@pybursa.com"
                                            target=
                                            "_top">narendra_modi@pybursa.com</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Skype</td>
                                        <td>narendra_modi</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="container" role="main">
                        <table class="table table-striped" width="10">
                            <tbody>
                                <tr>
                                    <th>Week</th>
                                    <th>Control type</th>
                                    <th>Grade</th>
                                </tr>
                                <tr>
                                    <td rowspan="3">week 1</td>
                                    <td>Tests</td>
                                    <td>100500%</td>
                                </tr>
                                <tr>
                                    <td>Problem Task 1</td>
                                    <td>100500%</td>
                                </tr>
                                <tr>
                                    <td>Problem Task 2</td>
                                    <td>100500%</td>
                                </tr>
                                <tr>
                                    <td rowspan="3">week 2</td>
                                    <td>Tests</td>
                                    <td>100500%</td>
                                </tr>
                                <tr>
                                    <td>Problem Task 1</td>
                                    <td>100500%</td>
                                </tr>
                                <tr>
                                    <td>Problem Task 2</td>
                                    <td>100500%</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src=
    "https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
    </script> 
    <script src="../static/js/bootstrap.js">
    </script>
</body>
</html>