<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta content="" name="description">
    <meta content="Orest Stetsiak" name="author">
    <link href="../static/images/favicon.png" rel="icon">
    <title>Students</title><!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.css" rel="stylesheet">
    <link href="../static/css/style.css" rel="stylesheet">
    <link href="../static/css/jumbotron.css" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button aria-controls="navbar" aria-expanded="false" class=
                "navbar-toggle collapsed" data-target="#navbar" data-toggle=
                "collapse" type="button"><span class="sr-only">Toggle
                navigation</span> <span class="icon-bar"></span> <span class=
                "icon-bar"></span> <span class="icon-bar"></span></button>
                <a class="navbar-brand" href="index.html">Main</a> <a class=
                "navbar-brand" href="contact.html">Contacts</a> <a class=
                "navbar-brand" href="student_list.html">Students</a>
            </div>
        </div>
    </nav>
    <div class="jumbotron">
        <div class="container">
            <h2>PyBursa students list</h2>
            <h6>group started Nov 19, 2015</h6>
        </div>
        <div class="container" role="main">
            <h2>Program</h2>
            <div class="table-responsive">
                <table class="table table-striped" width="10">
                    <tbody>
                        <tr>
                            <th>No</th>
                            <th>Surname</th>
                            <th>Name</th>
                            <th>Address</th>
                            <th>Skype</th>
                        </tr>
                        <tr>
                            <td>
                                <a href="student_detail.html">1</a>
                            </td>
                            <td>Narendra</td>
                            <td>Modi</td>
                            <td>2820 Church Street Atwater, CA 95301</td>
                            <td>narendra_modi</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Jeff</td>
                            <td>Bezos</td>
                            <td>7252 Cedar Court Dorchester Center, MA
                            02124</td>
                            <td>jeff_bezos</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Jamie</td>
                            <td>Dimon</td>
                            <td>3093 6th Street WestErie, PA 16506</td>
                            <td>jamie_dimon</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>Rex</td>
                            <td>Tillerson</td>
                            <td>106 Queen Street Ogden, UT 84404</td>
                            <td>rex_tillerson</td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>Mario</td>
                            <td>Draghi</td>
                            <td>240 Roosevelt Avenue Butler, PA 16001</td>
                            <td>mario_draghi</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <script src=
        "https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
        </script> 
        <script src="../static/js/bootstrap.js">
        </script> 
    </div>
</body>
</html>