{% extends "base.html" %}
{% block title %}{{ course.name }} details PyBursa{% endblock title %}

{% block content %}
  

  <div class="container">
    <div class="jumbotron">
        <h1>{{ course.name }}</h1>
      <p>{{ course.description|truncatechars:32 }}</p>
    </div>


    <div class="jumbotron">
        <h2>Преподаватели</h2>
    <div><h4>Учитель</h4>

     <a href="{% url 'coaches:detail' course.coach.id %}">{{ course.coach.first_name }} {{ course.coach.last_name }}</a>
    </div>
    <p>{{ course.coach.description }}</p>

   <div><h4>Ассистент</h4>

    <a href="{% url 'coaches:detail' course.assistant.id %}">{{ course.assistant.first_name }} {{ course.assistant.last_name }}</a>
    </div>
    <p>{{ course.assistant.description }}</p>


  </div>


<div class="container">
    <h2>План курса</h2>
<div>
<div class="container">
      <div class="table-responsive">
      <table class="table table-striped">
        <tr>
          <th>#</th>
          <th>Тема</th>
          <th>Описание</th>
        </tr>
        {% for i in lesson %}
        <tr>
            <td>{{ i.order }}</td>
      <td>{{ i.subject }}</td>
      <td>{{ i.description }}</td>
    </tr>
    {% endfor %}
      </table>
    </div>

{% endblock content %}